//
   Created by Marco Romero on 4/24/2015.
doctype
html
   head
       title Babelone
       link(rel="stylesheet", href="/styles/app.min.css")
   body
       div#app.container
    script(type="text/javascript",src='/scripts/app.min.js')
   if dev
    script(type="text/javascript",src="http://localhost:9091/")